//
   Created by yangcheng on 14-2-15.
head
    link(href='stylesheets/bootstrap.css',type='text/css',rel='stylesheet')
body
    script(type='text/javascript',src='JavaScript/jquery-1.10.2.min.js')
    script(type='text/javascript',src='JavaScript/app.js')
    script
        alert({body:"<img src='photo/123.jpg'>"});


