//
   Created with JetBrains WebStorm.
   User: Yangchen
   Date: 14-10-21
   Time: 下午8:20
   To change this template use File | Settings | File Templates.
html
    head
        title= title
        link(href='/stylesheets/bootstrap3.min.css',type='text/css',rel='stylesheet')
    body
        h1
            | 关于伪类在各个浏览器中的兼容性
        table.table.table-bordered.table-hover
            thead
                tr
                    th
                        | 名称
                    th
                        | IE5.5
                    th
                        | IE6
                    th
                        | IE7
                    th
                        | IE8
                    th
                        | IE9
                    th
                        | FF
                    th
                        | Safai
                    th
                        | Chrome
                    th
                        | Opera
            tbody
                tr
                    td
                        | :link
                    td
                        | N
                    td
                        | N
                    td
                        | Y
                    td
                        | Y
                    td
                        | Y
                    td
                        |
                    td
                        |
                    td
                        |
                    td
                        |
                tr
                    td
                        | :visited
                    td
                        | Y
                    td
                        | Y
                    td
                        | N
                    td
                        | Y
                    td
                        | Y
                    td
                        |
                    td
                        |
                    td
                        |
                    td
                        |
                tr
                    td
                        | :hover
                    td
                        | Y
                    td
                        | Y
                    td
                        | Y
                    td
                        | Y
                    td
                        | Y
                    td
                        |
                    td
                        |
                    td
                        |
                    td
                        |