//
   Created by yangcheng on 14-2-27.
html
    head
        title= title
        link(href='/stylesheets/bootstrap.css',type='text/css',rel='stylesheet')
        link(href='/stylesheets/demo.css',type='text/css',rel='stylesheet')
        link(href='/JavaScript/icheck/skins/square/purple.css',type='text/css',rel='stylesheet')
        script(type='text/javascript',src='/JavaScript/Headroom.js')
        script(type='text/javascript',src='/JavaScript/jquery-1.10.2.js')
        script(type='text/javascript',src='/JavaScript/icheck/jquery.icheck.min.js')
        script(type='text/javascript',src='/JavaScript/bootstrap.js')
        script(type='text/javascript',src='/JavaScript/ajaxfileupload.js')
        script(type='text/javascript',src='/JavaScript/app.js')

