body { font-family: "klavika-web", "Microsoft Yahei", "微软雅黑", "\5fae\8f6f\96c5\9ed1", "sans-serif"; background-color: #FFFFCC;}
.header { background-color: #292f36;}
.brand { display: inline-block; padding: 10px 0; color: #CC6699;}
.brand:hover,.brand:focus { text-decoration: none; color: #FF0099;}
.module { background-color: #ffffff;}
.testTable { width:1000px; margin: 0 auto;}
.testTable td,.testTable th {text-align: center;}
.testTable th span { font-size: 14px;}
.introduceTxt { color: #333333; width: 1000px; margin: 0 auto;  font-size: 12px;}
.introduceCode { color: #CC3300; width: 1000px; margin: 0 auto; padding: 10px 0px; font-size: 12px;}
h5 { padding: 10px 20px;}

.x-pager { margin: 0px; padding: 0px; display: inline-block;}
.x-pager li { margin: 0px 5px 0px 0px; display: inline-block; *display: inline; *zoom:1; list-style-type: none;}
.x-pager a { display: inline-block; box-shadow: 1px 1px 1px lightgray;text-align: center; height: 20px; padding: 2px; line-height: 20px; text-decoration: none; border: 1px solid #c7c7c7; width: 20px; color: #000; border-radius: 2px; font-size: 12px; font-family: "klavika-web", "Microsoft Yahei", "微软雅黑", "\5fae\8f6f\96c5\9ed1", "sans-serif";}
.x-pager i { display: inline-block!important;}
.x-pager a:visited,.x-pager a:hover,.x-pager a:active,.x-pager .active { background-color: #696969; color: #ffffff; border: 1px solid #555555;}


.pagination { margin: 20px 0;}
.pagination ul { display: inline-block;*display: inline;margin-bottom: 0;margin-left: 0;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;*zoom: 1;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination ul > li { display: inline;}

.pagination ul > li > a,.pagination ul > li > span {float: left;padding: 4px 12px;line-height: 20px;text-decoration: none;background-color: #ffffff;border: 1px solid #dddddd;border-left-width: 0;}
.pagination ul > li > a:hover,.pagination ul > li > a:focus,.pagination ul > .active > a,.pagination ul > .active > span {background-color: #f5f5f5;}
.pagination ul > .active > a,.pagination ul > .active > span {color: #999999;cursor: default;}
.pagination ul > .disabled > span,.pagination ul > .disabled > a,.pagination ul > .disabled > a:hover,.pagination ul > .disabled > a:focus {color: #999999;cursor: default;background-color: transparent;}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {border-left-width: 1px;-webkit-border-bottom-left-radius: 4px;border-bottom-left-radius: 4px;-webkit-border-top-left-radius: 4px;border-top-left-radius: 4px;-moz-border-radius-bottomleft: 4px;-moz-border-radius-topleft: 4px;}
.pagination ul > li:last-child > a,.pagination ul > li:last-child > span {-webkit-border-top-right-radius: 4px;border-top-right-radius: 4px;-webkit-border-bottom-right-radius: 4px;border-bottom-right-radius: 4px;-moz-border-radius-topright: 4px;-moz-border-radius-bottomright: 4px;}
.pagination-centered {text-align: center;}
.pagination-right {text-align: right;}
.pagination-large ul > li > a,.pagination-large ul > li > span {padding: 11px 19px;font-size: 17.5px;}
.pagination-large ul > li:first-child > a,.pagination-large ul > li:first-child > span {-webkit-border-bottom-left-radius: 6px;border-bottom-left-radius: 6px;-webkit-border-top-left-radius: 6px;border-top-left-radius: 6px;-moz-border-radius-bottomleft: 6px;-moz-border-radius-topleft: 6px;}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {-webkit-border-top-right-radius: 6px;border-top-right-radius: 6px;-webkit-border-bottom-right-radius: 6px;border-bottom-right-radius: 6px;-moz-border-radius-topright: 6px;-moz-border-radius-bottomright: 6px;}
.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {-webkit-border-bottom-left-radius: 3px;border-bottom-left-radius: 3px;-webkit-border-top-left-radius: 3px;border-top-left-radius: 3px;-moz-border-radius-bottomleft: 3px;-moz-border-radius-topleft: 3px;}
.pagination-mini ul > li:last-child > a,.pagination-small ul > li:last-child > a,.pagination-mini ul > li:last-child > span,.pagination-small ul > li:last-child > span {-webkit-border-top-right-radius: 3px;border-top-right-radius: 3px;-webkit-border-bottom-right-radius: 3px;border-bottom-right-radius: 3px;-moz-border-radius-topright: 3px;-moz-border-radius-bottomright: 3px;}
.pagination-small ul > li > a,.pagination-small ul > li > span {padding: 2px 10px;font-size: 11.9px;}
.pagination-mini ul > li > a,.pagination-mini ul > li > span {padding: 0 6px;font-size: 10.5px;}
